<p>Hey <%= @user.name %>,</p>

<p>Thanks for signing up for Hehemachine.com. You can now begin saving your favorite comedic pieces by 'favoriting' the posts you find hilarious. And now that you have a list of your favorites, you can share your curated feed directly with your friends by giving them your link - www.hehemachine.com/<%=@user.name%>.</p>

<p>You can also follow your friends and which creates a curated feed with everything they find hysterical! Get ready to feel the pain of laughing too damn much!</p>

<p>- The HeheMachine Team</p>