- if @title == "Following"
	%h1 You Are Following
	.listitemborder
	- @following.each do |following|
		.userlistarea.listitemborder
			- @my_favorite_posts = following.favorites.map {|favorite| Post.find(favorite.post_id)}
			- @user = following
			= render "userbar"
- elsif @title == "Followers"
	%h1 You Are Followed By
	.listitemborder
	- @followers.each do |follower|
		.userlistarea.listitemborder
			- @my_favorite_posts = follower.favorites.map {|favorite| Post.find(favorite.post_id)}
			- @user = follower
			= render "userbar"
-else
	%h1 Nir sucks
