- @post = post
#favorite_form_on_list{:data => {:post_id => post.id}}
	- if current_user
		- if Favorite.where("user_id = ? AND post_id = ?", current_user.id, post.id).count > 0
			= render 'posts/unfavorite_on_list', post: post
		- else
			= render 'posts/favorite_on_list', post: post
	- else
		.heart_out= link_to image_tag("heart_grey.png"), new_user_registration_path
	.clear
= render "posts/addthis", post: post