=render "posts/post_data", post: post
- if !post.video.blank? || !post.vembed.blank?
	= render 'posts/video', post: post
- elsif !post.content.blank?
	= render 'posts/content', post: post
- elsif !post.image.blank?
	= render 'posts/image', post: post
%br
.listitemborderposts