- if post.filter_list == ["Video"]
	=image_tag "video_icon.png"
- elsif post.filter_list == ["Written"]
	=image_tag "text_icon.png"
- elsif post.filter_list == ["Image"]
	=image_tag "image_icon.png"
- elsif post.filter_list == ["Audio"]
	=image_tag "audio.png"
- elsif post.filter_list == ["Twitter"]
	=image_tag "tweet.png"