- if post.filter_list == ["video"]
	=image_tag "video_icon.png"
- elsif post.filter_list == ["written"]
	=image_tag "text_icon.png"
- elsif post.filter_list == ["image"]
	=image_tag "image_icon.png"
- elsif post.filter_list == ["audio"]
	=image_tag "audio.png"
- elsif post.filter_list == ["twitter"]
	=image_tag "tweet.png"