            <div class="fake_banner">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- hehemachine square -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:200px;height:200px"
                   data-ad-client="ca-pub-0370939253760948"
                   data-ad-slot="6375698846"></ins>

              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <div class="fake_banner" style="text-align:left; padding: 0 10px">
              <h3>About heheMachine</h3>
              <p>The heheMachine.com compiles all the best humor content from comedy blogs all around the internet and posts the best of it into one feed.</p> 
              <p>Favorite what makes you laugh out loud by clicking on the little hearts next to each post and share your curated list with friends.</p>
            </div>
            <div class="fake_banner">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- hehemachine 2 -->
              <ins class="adsbygoogle"
                   style="display:inline-block;width:200px;height:200px"
                   data-ad-client="ca-pub-0370939253760948"
                   data-ad-slot="1359756440"></ins>

              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>